[submodule "Homeworks/3-TwoSum/hw-project"]
	path = Homeworks/03-TwoSum/hw-project
	url = ../hw-two-sum.git
[submodule "Homeworks/2-Git/hw-project"]
	path = Homeworks/02-Git/hw-project
	url = ../hw-git.git
[submodule "Homeworks/04-Guessing-Game/hw-project"]
	path = Homeworks/04-Guessing-Game/hw-project
	url = ../hw-guessing-game.git
[submodule "Homeworks/06-Hide-Secret/hw-project"]
	path = Homeworks/05-Hide-Secret/hw-project
	url = ../hw-hide-secret.git
[submodule "Homeworks/06-LIFO-Stack/hw-project"]
	path = Homeworks/06-LIFO-Stack/hw-project
	url = ../hw-lifo-stack.git
